# KRX OTP 발급 URL
KRX_OTP_URL=https://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd

# KRX 파일 다운로드 URL
KRX_DOWNLOAD_URL=https://data.krx.co.kr/comm/fileDn/download_excel/download.cmd

# Google Drive API 설정
# 구글 드라이브 업로드를 진행할 최상위 루트 폴더 ID를 기입합니다.
GOOGLE_DRIVE_ROOT_FOLDER_ID=your_google_drive_root_folder_id

# KRX 포털 로그인 정보 (필요시 기입)
KRX_USERNAME=your_krx_username
KRX_PASSWORD=your_krx_password

# 로깅 설정 (DEBUG, INFO, WARNING, ERROR, CRITICAL 중 선택)
LOG_LEVEL=INFO
