name: Health Check

on:
  workflow_dispatch:  # 수동 실행

jobs:
  healthcheck:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Just
      uses: extractions/setup-just@v1

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - name: Create Secrets
      run: |
        mkdir -p secrets
        echo '${{ secrets.GOOGLE_CLIENT_SECRET_JSON }}' > secrets/client_secret.json
        echo '${{ secrets.GOOGLE_TOKEN_JSON }}' > secrets/token.json

    - name: Create .env file
      run: |
        echo "KRX_OTP_URL=http://data.krx.co.kr/comm/bldAttendant/getOtp.cmd" >> .env
        echo "KRX_DOWNLOAD_URL=http://data.krx.co.kr/comm/bldAttendant/getCsvData.cmd" >> .env
        echo "GOOGLE_DRIVE_ROOT_FOLDER_ID=${{ secrets.GOOGLE_DRIVE_ROOT_FOLDER_ID }}" >> .env

    - name: Run Healthcheck
      run: |
        just -f Justfile.linux healthcheck
